<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改密码</title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<style>
			.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
		        margin-top: 0;
		    }
		    .mui-table h4{
		        line-height: 21px;
		        font-weight: 500;
		    }
		
		    .mui-table .oa-icon{
		        position: absolute;
		        right:0;
		        bottom: 0;
		    }
		    .mui-table .oa-icon-star-filled{
		        color:#f14e41;
		    }
		</style>
	</head>
	<body>
		<header id="header" class="mui-bar mui-bar-nav bgCOlor">
			<h1 class="mui-title headerTitle">修改密码</h1>
		</header>
		<div class="mui-content" style="margin-top: 100px;">
				<div class="mui-content-padded" style="margin: 15px;">
					<div class="mui-input-group">
						<div class="mui-input-row"></div>
						<div class="mui-input-row">
							<label>旧密码</label>
							<input id="oldPassword" type="password" class="mui-input-clear" placeholder="请输入密码">
						</div>
						<div class="mui-input-row">
							<label>新密码</label>
							<input id="newPassword" type="password" class="mui-input-clear" placeholder="请输入密码">
						</div>
						<div class="mui-button-row">
							<button type="button" class="mui-btn mui-btn-primary" style="width: 95%;margin-top: 20px;" onclick="loginIn()">确认修改</button>
						</div>
						<div class="mui-input-row"></div>
					</div>
				</div>
		</div>
	</body>
	<script src="../assets/script/cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/lib/jquery.min.js"></script>
	<script src="../assets/script/ajax.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var loginStatus = getCookie("toupiao");
		if(loginStatus == null || loginStatus == "") {
			mui.openWindow({
				id:'detail',
				url:'login.html'
			});
		}
		
		function loginIn(){
			var _oldPass = $("#oldPassword").val();
			var _newPass = $("#newPassword").val();
			if(_oldPass == "" || _oldPass == null) {
				mui.alert('', '旧密码不能为空', function() {
					
				});
				return false;
			}
			if(_newPass == "" || _newPass == null) {
				mui.alert('', '新密码不能为空', function() {
					
				});
				return false;
			}
			ajaxRequest({
				url: '/vote_sys/commonapi/login/qianduan/updatePwd.do',
				data: {
					userId: loginStatus,
					oldPwd: _oldPass,
					newPwd: _newPass
				},
				type: 'get',
				success(sVal) {
					console.log(sVal);
					if(Number(sVal.code) == 1) {
						mui.alert('', "密码修改成功，请重新登陆!", function() {
							mui.openWindow({
								id:'detail',
								url:'login.html'
							});
						});
					}else {
						mui.alert('', sVal.msg, function() {
							
						});
					}
				}
			});
		}
	</script>
</html>
