<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../assets/style/personal.css"/>
	</head>
	<body>
		<header id="header" class="mui-bar mui-bar-nav bgCOlor">
			<!-- <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a> -->
			<h1 class="mui-title headerTitle">个人中心</h1>
		</header>
		<div class="mui-content">							
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell mui-media">
							<a class="mui-navigate-right" href="#account">
								<img class="mui-media-object mui-pull-left head-img" id="head-img" src="../assets/images/user-img0.jpg">
								<div class="mui-media-body" style="line-height: 32px;">
									用户名：<span id="userName"><span>
								</div>
							</a>
						</li>
					</ul>
					<div class="mui-input-row" style="margin: 10px 5px;">
						<button type="button" class="mui-btn mui-btn-danger" style="width: 100%;margin-top: 22px;" onclick="loginOut()">退出登录</button>
						<button type="button" class="mui-btn mui-btn-primary" style="width: 100%;margin-top: 10px;" onclick="changePass()">修改密码</button>
					</div>
				</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="#" data-item='1'>
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#" data-item='2'>
				<span class="mui-icon mui-icon-email"></span>
				<span class="mui-tab-label">新闻公告</span>
			</a>
			<a class="mui-tab-item" href="#" data-item='3'>
				<span class="mui-icon mui-icon-chatbubble"></span>
				<span class="mui-tab-label">留言</span>
			</a>
			<a class="mui-tab-item mui-active" href="#" data-item='4'>
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
	</body>
	<script src="../assets/script/cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/lib/doT.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/lib/jquery.min.js"></script>
	<script src="../assets/script/ajax.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var loginStatus = getCookie("toupiao");
		var userName = getCookie("toupiaoUserName");
		
		if(loginStatus == null || loginStatus == "") {
			gotoLogin();
		}else {
			$("#userName").text(userName);
		}
		//http://116.62.204.146:8080/vote_sys/commonapi/login/qianduan/toLogin.do
		mui(".mui-bar").on('tap', '.mui-tab-item',function() {
			var _item = this.dataset.item+'';
			console.log(_item);
			switch (_item){
				case '1':
					mui.openWindow({
						id:'detail',
						url:'home.html'
					});
					break;
				case '2':
					mui.openWindow({
						id:'detail',
						url:'news.html'
					});
					break;
				case '3':
					mui.openWindow({
						id:'detail',
						url:'message.html'
					});
					break;
				case '4':
					mui.openWindow({
						id:'detail',
						url:'personal.html'
					});
				default:
					break;
			}
		});
		
	
		function loginOut() {
			delCookie("toupiao");
			delCookie("toupiaoUserName");
			gotoLogin();
		}
		
		function gotoLogin() {
			mui.openWindow({
				id:'detail',
				url:'login.html'
			});
		}
		
		function changePass() {
				mui.openWindow({
				id:'detail',
				url:'passChange.html'
			});
		}
	</script>
</html>
